* {
  padding     : 0;
  margin      : 0;
  font-family : sans-serif;
}

body {
  color       : white;
  background  : black;
  text-align  : center;
  position    : relative;
  font-size   : 10px;
}

p {
  text-align  : justify;
  font-size   : 12px;
  color       : #aaaaaa;
  font-weight : normal;
  margin      : 10px 0px 10px 0px;
  line-height : 1.5em;
}

a {
  color: #EF0040;
}

img {
  border: none;
}

pre {
  font-family  : monospace;
  font-size    : 8pt;
  color        : #eeeeee;
  background   : #1f0f0f;
  margin       : 10px;
  font-weight  : bold;
  line-height  : 1.5em;
  padding-top  : 15px;
  text-align   : left;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 40px;
  text-align: left;
  margin-top: 30px;
}

h3 {
  text-align: left;
  margin-top: 20px;
}

td {
  vertical-align: top;
}

.container {
  width        : 900px;
  margin       : 0 auto;
  position     : relative;
}


.aside {
  float: right;
  width: 164px;
  padding: 20px;
  margin: 40px;
  text-align: center;
  background: black;
  border: 1px solid gray;
  margin-top: 40px;
}

.aside a {
  color: #EF0040;
  font-weight: bold;
}

.aside p {
  text-align: center;
}

.header {
  padding: 70px 40px 50px 60px;
  background: url(img/ruby-md.png) 500px 30px no-repeat #111111;
  text-align: left;
  font-weight: bold;
  margin-bottom: 20px;
  border: 1px solid gray;
}

.title {
  color: white;
  font-size: 100px;
}

.subtitle {
  color: white;
  font-size: 16px;
}

.content {
  padding: 20px 0;
}

.about {
  margin: 0 0 20px 0;
  padding: 20px;
  text-align: justify;
  font-size: 24pt;
  font-weight: bold;
  background: #BF0020;
  color: white;
}

.menu {
  width          : 900px;
  margin         : 0 auto;
  padding        : 15px 30px;
  color          : orange;
  font-size      : 12px;
  text-align     : left;
}

.menu a {
  font-size: 1em;
  font-weight: bold;
  color: red;
  text-decoration: none;
}

.menu a:hover {
  text-decoration: underline;
}

.ad {
  border      : 0px solid white;
  text-align  : center;
}

.invert {
  text-align   : left;
  color        : white;
  margin       : 0;
  padding      : 15px 15px 15px 15px;
  background   : black;
}

.invert p {
  text-align   : left;
  color        : white;
}

.copyright {
  padding     : 5px;
  text-align  : center;
  color       : gray;
  font-size   : 1.2em;
  border      : 1px solid gray;
  background  : #111111;
  margin      : 20px 1px;
}

